*{
    margin: 0;
}
html{
    /* background: url(background.jpeg) no-repeat center center fixed;  */
    -webkit-background-size: cover;
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    /* background-size: cover; */
    /* overflow-x: hidden; */
}

.navbar-brand img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 100%;
}
.navbar {
background-color: rgba(204, 87, 169, 0.8);
padding: 5px;
display: flex;
list-style: none;
font-weight: bold;
font-size: 1.1em;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
li {
    padding: 10px 5px;
    color: white;
}
li a {
    text-decoration: none;
    color: white;
}
.left {
    margin-left: auto;
}
.container {
height: 50vh;
display: flex;
    }
h1 {
    color: blue;
}
.grid-wrapper {
    background-color: black;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 10px;
    }
 .box {
        background-color: #444;
        padding: 20px;
        margin: 20px;
    }
    
 .box > img {
        width: 100%;
    }    



footer {
    background-color: rgba(8, 48, 8, 0.8);
    padding: 5px;
    text-align: center;
    /* position: fixed; */
    width: 100%;
    bottom: 0px;
}
strong {
    color: white;
}